@media(min-width: 480px) and (max-width: 699px) {
    .header__navbar {
        flex-direction: column;
        align-items: flex-start;
        min-height: 55px;
        padding: 10px 0px;
      }
      .heder__navbar-menu {
        margin-left: 15px;
        height: 30px;
        flex-wrap: wrap;
        width: 90%;
        justify-content: flex-start;
      }
      .main__section {
        flex-wrap: wrap;
      }
      .download__section {
        margin: auto;
        margin-bottom: 20px;
      }
      .also__section {
        margin-left: 0;
        margin-bottom: 20px;
      }
      .other__also-section {
        width: 97%;
        margin: auto;
        margin-bottom: 20px;
      }
      .footer {
        width: 100%;
      }
      .categories__colum {
        margin: 0;
      }
      .footer__categories {
        justify-content: space-around;
      }
      .emoji__section{
        width: 100%;
        margin: 20px auto;
      }
      .also__other{
        display: none;
      } 
}
@media(min-width:0px) and (max-width: 479px) {
  body{
    background: linear-gradient(169.15deg, #4C4D52 2.67%, #2D2C32 96.34%);
  }
  .header__navbar {
      flex-direction: column;
      align-items: flex-start;
      min-height: 80px;
      padding: 10px 0px;
    }
    .heder__navbar-menu {
      margin-left: 15px;
      height: 50px;
      flex-wrap: wrap;
      width: 90%;
      justify-content: flex-start;
    }
    .main__section {
      flex-wrap: wrap;
    }
    .download__section {
      width: 90%;
      height: auto;
      margin: auto;
      margin-bottom: 20px;
    }
    .download__sectio-img {
      width: 100%;
      height: auto;
      margin: auto;
    }
    .btn__download {
      margin-left: 35%;
    }
    .keywords__minim{
      display: none;
    }
    .also__section {
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .also__section-img{
        justify-content: center;
    }
   .also__other{
     display: none;
   }
    .also__img {
     flex: none;
     margin: 0 5px 30px 0;
    }
    .keywords__minim-display{
      width: 85%;
      margin: auto;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }
    .download__keywords-tag{
      width: auto;
      height: auto;
    }
    .title__content{
      margin: 0;
    }
    .footer {
      width: 100%;
      height: auto;
      margin-top: 20px;
    }
    .footer__max{
      display: none;
    }
    .footer__min{
      display: flex;
    }
    .categories__colum {
      margin: 0;
      flex-wrap: wrap;
    }
    .footer__categories {
      justify-content: space-around;
    }
    .emoji__section{
      width: 100%;
      margin: 20px auto;
    }
    .for__emoji{
      display: flex;
    }
    .emoji__tags{
      display: none;
    }
}
