@media(min-width: 300px) and (max-width: 699px) {
    .header__navbar {
        flex-direction: column;
        align-items: flex-start;
        min-height: 55px;
      }
      .heder__navbar-menu {
        margin-left: 15px;
        height: 30px;
        flex-wrap: wrap;
        width: 90%;
        justify-content: flex-start;
      }
      .main__section {
        flex-wrap: wrap;
      }
      .download__section {
        margin: auto;
        margin-bottom: 20px;
      }
      .also__section {
        margin-left: 0;
        margin-bottom: 20px;
      }
      .other__also-section {
        width: 97%;
        margin: auto;
        margin-bottom: 20px;
      }
      .footer {
        width: 100%;
      }
      .categories__colum {
        margin: 0;
      }
      .footer__categories {
        justify-content: space-around;
      }
}