a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b3648;
}

.header__navbar {
  width: 100%;
  height: 55px;
  left: 0px;
  top: 0px;
  background: #212936;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar-logo {
  height: 18px;
  margin-left: 23px;
}

.header__logo-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: white;
  letter-spacing: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.after__logo-title {
  color: #1976d2;
}

.heder__navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 402px;
  height: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
}

.header__navbar-items {
  list-style: none;
}

.header__navbar-link {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #afbdd1;
  margin: 0 6.8px;
}

.main__section {
  width: 97%;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download__section {
  width: 447px;
  height: 813px;
  background: #212936;
  padding: 10px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.download__sectio-img {
  width: 417px;
  height: 367px;
}

.download__section-content {
  margin: 15px 5px 0;
}

.btn__download {
  background: none;
  border: none;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-bottom: 15px;
}

.title__content,
.download__content,
.also__section-tilte {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.download__content {
  font-weight: normal;
}

.keywords {
  margin-top: 16px;
}

.download__keywords-tag {
  width: 403px;
  height: 76px;
  margin-bottom: 7px;
}

.keywords-tag {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #1976d2;
  text-decoration: none;
  margin-right: 7.7px;
}

.also__section {
  background: #212936;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  margin-left: 1.5%;
}

.also__home-page {
  height: 730px;
}

.also__section-tilte {
  font-weight: normal;
  margin-left: 5px;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}

.also__section-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  height: 530px;
}

.also__home-img {
  height: 720px;
}

.also__img {
  width: 150px;
  height: 150px;
  background-image: url(../images/image_2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin: 0 15px 30px 15px;
}

.other__also-section {
  width: 98.5%;
  margin-left: 20px;
  margin-right: 15px;
  margin: 27px 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer {
  height: 223px;
  background: #212936;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 97%;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.footer__tilte {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-left: 5px;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}

.footer__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories__colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
  margin-top: 20px;
  margin-right: 100px;
}

.footer__categorie-items {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.keywords__minim-display {
  display: none;
}

.footer__min {
  display: none;
}

.emoji__section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.emoji__section {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.emoji__section-title {
  margin-bottom: 27px;
}

.emoji__tags {
  text-align: center;
}

.button__emoji {
  width: 100%;
  margin: auto;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__other-emoji {
  margin: 0 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 0px) and (max-width: 479px) {
  body {
    background: -o-linear-gradient(280.85deg, #4C4D52 2.67%, #2D2C32 96.34%);
    background: linear-gradient(169.15deg, #4C4D52 2.67%, #2D2C32 96.34%);
  }
  .header__navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 80px;
    padding: 10px 0px;
  }
  .heder__navbar-menu {
    margin-left: 15px;
    height: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main__section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .download__section {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
  }
  .download__sectio-img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .btn__download {
    margin-left: 35%;
  }
  .keywords__minim {
    display: none;
  }
  .also__section {
    width: 85%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .also__section-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .also__other {
    display: none;
  }
  .also__img {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0 5px 30px 0;
  }
  .keywords__minim-display {
    width: 85%;
    margin: auto;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .download__keywords-tag {
    width: auto;
    height: auto;
  }
  .title__content {
    margin: 0;
  }
  .footer {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .footer__max {
    display: none;
  }
  .footer__min {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .categories__colum {
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__categories {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .emoji__section {
    width: 100%;
    margin: 20px auto;
  }
  .for__emoji {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .emoji__tags {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 699px) {
  .header__navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 55px;
    padding: 10px 0px;
  }
  .heder__navbar-menu {
    margin-left: 15px;
    height: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main__section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .download__section {
    margin: auto;
    margin-bottom: 20px;
  }
  .also__section {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .other__also-section {
    width: 97%;
    margin: auto;
    margin-bottom: 20px;
  }
  .footer {
    width: 100%;
  }
  .categories__colum {
    margin: 0;
  }
  .footer__categories {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .emoji__section {
    width: 100%;
    margin: 20px auto;
  }
  .also__other {
    display: none;
  }
}
